
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for admin status.
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // A user can be created on signup, and can only update their own document.
    // Anyone can read public user profiles.
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
      allow delete: if false; // Disallow client-side user deletion.
    }

    // Problems can be read by anyone, but only written by admins.
    match /problems/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // Courses can be read by anyone, but only written by admins.
    match /courses/{courseId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    
    // Problem sheets can be read by anyone.
    // They can be created by any authenticated user.
    // They can only be deleted by their original creator.
    // Updating is allowed for the owner (to edit content) or for any user if they are only changing their subscription status.
    match /problem-sheets/{sheetId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.createdBy ||
                      (
                        request.auth != null &&
                        request.resource.data.name == resource.data.name &&
                        request.resource.data.problemIds == resource.data.problemIds
                      );
      allow delete: if request.auth.uid == resource.data.createdBy;
    }
    
    // Settings can be read by anyone, but only written by admins.
    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Badge definitions can be read by anyone, but only written by admins.
    match /badges/{badgeId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // This collection is used for ID generation and should not be client-accessible.
    match /dummy/{docId} {
      allow read, write: if false;
    }
  }
}
