@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 196 76% 53%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 196 76% 53%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 196 76% 53%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
 
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 196 76% 53%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
 
    --accent: 196 76% 53%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 196 76% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
  }
}
